html, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cadastro{
  margin: auto;
  padding: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between ;
  background-color: #000051;

}



.produtos{
  display: grid;
 place-items: center;
  grid-template-columns: auto auto auto;
}