html, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cadastro{
  margin: auto;
  padding: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between ;
  background-color: #000051;

}



.produtos{
  
  display: grid;
justify-self: center;
place-items: center;
  grid-template-columns: auto auto auto auto;

}


.produto {
  width: 240px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.produto p {
  margin: 0;
}

.produto p:first-child {
  font-weight: bold;
}

.produto a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}

.produto a:hover {
  background-color: #0056b3;
}